<div class="starter-template">
    <h2>Synchronization</h2>
</div>
<p></p>
<div class="card">
    <div class="card-header">
        Synchronization status <span ng-show="$ctrl.idLoading">Loading ...</span>
    </div>
    <div class="card-body">
        <div class="alert alert-danger" role="alert" ng-if="$ctrl.isError">
            {{$ctrl.errorText}}
        </div>

        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn" ng-disabled="$ctrl.idLocked" ng-class="!$ctrl.isSyncEnabled ? 'btn-danger' : 'btn-secondary'" ng-click="$ctrl.disableSync()">
                <div ng-if="!$ctrl.isSyncEnabled">Disabled</div>
                <div ng-if="$ctrl.isSyncEnabled">Disable</div>
            </button>

            <button type="button" class="btn" ng-disabled="$ctrl.idLocked" ng-class="$ctrl.isSyncEnabled ? 'btn-success' : 'btn-secondary'" ng-click="$ctrl.enableSync()">
                <div ng-if="$ctrl.isSyncEnabled">Enabled</div>
                <div ng-if="!$ctrl.isSyncEnabled">Enable</div>
            </button>
        </div>
    </div>
</div>
<p></p>
<div class="alert alert-primary" role="alert">
    <p class="text-center"><b>Last Sync</b><br> {{$ctrl.syncInfo['LastSyncDateTime']}}</p>
    <b>Events</b>
    <div class="row">
        <div class="col-4">Created:</div>
        <div class="col-8 text-right"><b>{{$ctrl.syncInfo.EventsCreated}}</b></div>
        <div class="col-4">Updated:</div>
        <div class="col-8 text-right"><b>{{$ctrl.syncInfo.EventsUpdated}}</b></div>
        <div class="col-4">Deleted:</div>
        <div class="col-8 text-right"><b>{{$ctrl.syncInfo.EventsDeleted}}</b></div>
    </div>
    <br>
    <b>Tasks</b>
    <div class="row">
        <div class="col-4">Created:</div>
        <div class="col-8 text-right"><b>{{$ctrl.syncInfo.TasksCreated}}</b></div>
        <div class="col-4">Updated:</div>
        <div class="col-8 text-right"><b>{{$ctrl.syncInfo.TasksUpdated}}</b></div>
        <div class="col-4">Deleted:</div>
        <div class="col-8 text-right"><b>{{$ctrl.syncInfo.TasksDeleted}}</b></div>
    </div>
</div>

