<p></p>
<p>
    <a class="btn btn-light w-100" data-toggle="collapse" href="#heliosSync" aria-expanded="false" aria-controls="heliosSync">
        <b class="text-primary">Helios</b> Auth
    </a>
</p>
<div class="collapse" id="heliosSync">
    <div class="card card-body">

        <div ng-if="!$ctrl.heliosUserEntityId">
            <div class="form-group">
                <label for="exampleInputEmail1">Login</label>
                <input class="form-control" id="exampleInputEmail1" placeholder="Login" ng-model="$ctrl.login">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" ng-model="$ctrl.password">
            </div>

            <div class="alert alert-danger" role="alert" ng-if="$ctrl.isError">
                {{$ctrl.errorText}}
            </div>

            <button ng-if="!$ctrl.isLoading" class="btn btn-primary w-100" ng-click="$ctrl.authHelios()">Login</button>
            <button ng-if="$ctrl.isLoading" class="btn btn-primary w-100" disabled>Login <i class="fa fa-spinner fa-spin fa-1x fa-fw"></i></button>
        </div>

        <div ng-if="$ctrl.heliosUserEntityId">
            <div class="alert alert-success" role="alert">
                Successfully Authorized
            </div>
            <button class="btn btn-warning w-100" ng-click="$ctrl.clearHeliosUserEntityId()">Logout</button>
        </div>

    </div>
</div>



